doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title LESS TEST
        link(rel="stylesheet", href="main.css")
    body
        h1 LESS TEST
        p This is a test for LESS.
