/* notes.less */

.importantNote {
    color: red;
    font-weight: bold;
}

.timeLabel {
    color: orangered;
}

.detailed {
    margin-top: 15px;
    border-left: solid 6px;
    border-left-color: #73d073; //#d7d7ec;
    padding-left: 5px;
}
