/* visual-style.less */

.normalBackground {
    background: white;
}

.defaultBorder {
    border: solid 2px steelblue;
}

.defaultShadow {
    -moz-box-shadow: 0 0 2px #333333;
    -webkit-box-shadow: 0 0 2px #333333;
    box-shadow: 0 0 2px #333333;
}

.defaultRadius {
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px;
}

.defaultTextBackground {
    background: @articleBackgroundColor;
}

.minifiedText {
    font-size: xx-small;
}
