/* visual-style.less */

.normalBackground {
    background: white;
}

.defaultBorder {
    border: solid 2px steelblue;
}

.defaultShadow {
    box-shadow: 0 0 2px #333;
}

.defaultRadius {
    border-radius: 6px;
}

.defaultTextBackground {
    background: @articleBackgroundColor;
}

.minifiedText {
    font-size: xx-small;
}
