@paddingValue: 10px;
@doublePaddingValue: @paddingValue * 2;

html {
    height: 100%;
    width:  100%;
    padding: 0px;
    margin: 0px;
}

body {
//html body {
    height: calc(100% - @doublePaddingValue);
    width:  calc(100% - @doublePaddingValue);
    margin: 0px;
    padding: @paddingValue;
    overflow: hidden;
}

.bodyContent {
    height: 100%;
    width:  100%;
    margin: 0px;
    padding: 0px;
}

.contentHeader {
    width:  100%;
    height: 20px;
}

.content {
    width:  100%;
    height: calc(100% - 40px);
}

.contentLeft {
    width:  30%;
    height: 100%;
}

.contentRight {
    width:  70%;
    height: 100%;
}

.contentLeftUp {
    width: 100%;
    height: 60%;
}

.contentLeftBottom {
    width: 100%;
    height: 40%;
}

.contentRightUp {
    width: 100%;
    height: 30%;
}

.contentRightBottom {
    width: 100%;
    height: 70%;
}

.contentFooter {
    width:  100%;
    height: 20px;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.floatClear {
    clear: both;
}

.noWrap {
    white-space: nowrap;
}

.autoScrollBars {
    overflow: auto;
}

.noScrollBars {
    overflow: hidden;
}
