@numberOfMenuPanels: 2;
@headerHeight: @numberOfMenuPanels * @halfDefaultHeight;
@footerHeight: @halfDefaultHeight;

@verticalSeparatorWidth: 8px;
@horizontalSeparatorHeight: 4px;

@paddingValue: 0px; // 10px;
@doublePaddingValue: @paddingValue * 2;

//@contentHeaderHeigh_t: 20px;
//@contentFooterHeigh_t: @footerHeight;
@headerFooterSum: @headerHeight + @footerHeight;

body {
    height: calc(100% - @doublePaddingValue);
    width: calc(100% - @doublePaddingValue);
    padding: @paddingValue;
}

.contentHeader {
    width: 100%;
    height: @headerHeight;
}

.content {
    width: 100%;
    height: calc(100% - @headerFooterSum);
}

.contentFooter {
    width: 100%;
    height: @footerHeight;
}

@leftWidth: 30%;
@rightWidth: 100% - @leftWidth;

.contentLeft {
    width: calc(@leftWidth - @verticalSeparatorWidth - @defaultBorderVerticalAmount);
    height: 100%;
}

.verticalSeparator {
    width: @verticalSeparatorWidth;
    height: 100%;
    display: block;
}

.contentRight {
    width: @rightWidth;
    height: 100%;
}

@contentLeftUpHeight: 60%;
@contentLeftBottomHeight: 100% - @contentLeftUpHeight;

.contentLeftUp {
    width: 100%;
    height: calc(@contentLeftUpHeight - @horizontalSeparatorHeight - 2 * @defaultBorderHorizontalAmount);
}

.horizontalSeparator {
    height: @horizontalSeparatorHeight;
}

.contentLeftBottom {
    width: 100%;
    height: @contentLeftBottomHeight;
}

@contentRightUpHeight: 30%;
@contentRightBottomHeight: 100% - @contentRightUpHeight;

.contentRightUp {
    width: 100%;
    height: @contentRightUpHeight;
}

.contentRightBottom {
    width: 100%;
    height: calc(@contentRightBottomHeight - @horizontalSeparatorHeight - 2 * @defaultBorderHorizontalAmount);
}
