doctype html
html(lang="en")
    include head.pug
    body(id="body")
        app(id="app")
            //class="app-flex app-flex-row app-flex-center" style="height: 100vh;"
            div(id="application")
                //style="background: lightblue; padding: 20px;"
                div(class="smi-flex smi-flex-row smi-flex-center")
                    div(style="width: 500px;")
                        a
                    div(style="width: 500px;")
                        b
