/* values.less */
// Just simple values
@zero: 0;
@half: 50%;
@max: 2 * @half; //100%

// ---- Size related values, measurements, parameters and properties
@maxWidth: @max;
@maxHeigth: @max;
@halfWidth: @half;
@halfHeigth: @half;
@defaultMargin: 10px;
@defaultPadding: 10px;
@doubleDefaultMargin: @defaultMargin * 2;
@doubleDefaultPadding: @defaultPadding * 2;
@defaultHeight: 50px; //Default by mobile devices
@iconedRowHeight: @defaultHeight - 10px;

// UI item sizes
@headerPanelHeight: @headerHeight + @navigationHeight;
@headerHeight: @defaultHeight;
@navigationHeight: @defaultHeight;
@footerHeight: @defaultHeight;

@menuDefaultSelectionBorderWidth: 4px;
@menuItemSelectionHorisontalBorderWidth: @menuDefaultSelectionBorderWidth;
@menuItemSelectionVerticalBorderWidth: @menuDefaultSelectionBorderWidth;

@sideNavHeaderHeight: @defaultHeight;
@sideNavWidth: 290px;
@sideNavMenuItemHeight: @defaultHeight;
@sideNavSpaceAfterSelectionBorder: 10px;
@sideNavSpaceAfterIcon: 20px;

@sectionHeaderPictureHeight: 200px;

// ---- Text related values, measurements, parameters and properties
@headingTextColor: dimgray;
//@headingTextColor: #594D49; // From Info project (Cicero, Pseudonymous)
@textColor: black; //dimgray;//#666666
@fontFamily: DejaVu Serif, Roboto, Arial, Noto Sans, Noto, sans-serif; //"Source Sans Pro", Helvetica, sans-serif;//Roboto, Arial, Noto Sans,Noto,sans-serif;//"Open Sans", "Source Sans Pro", Helvetica, sans-serif ... "Open Sans", sans-serif ... Arial,Helvetica,Sans-serif,Tahoma;..."Open Sans", "Source Sans Pro", Helvetica, sans-serif;//
@defaultFontSize: 14px;
@defaultFontWeight: 800;
@defaultMenuFontWeight: 900;

// TODO : xsmall, small, medium, large, xlarge
@xsmallFontSize: 50%; // TODO
@smallFontSize: 75%; // TODO
@mediumFontSize: 105%; //medium; // TODO
@largeFontSize: 105%; // TODO
@xlargeFontSize: 105%; // TODO

@iconColor: gray; //white;
@backgroundColor: white; //#dfdfdf;//#F8F8F8;
@articleBackgroundColor: @backgroundColor;
@articleTextColor: #141412;
@articleLineHeight: 1.7;
@headerBackgroundColor: @backgroundColor; //#1976d2;
@headerTextColor: rgba(75, 75, 75, 0.87); //rgba(255, 255, 255, 0.87);
@navigationBackgroundColor: @backgroundColor;
@navigationHighLightTextColor: DarkSlateGray; // rgba(95, 95, 95, 0.54);//rgba(255, 255, 255, 0.54);
@navigationInactiveTextColor: MidnightBlue; //DarkCyan;//black;//@headerTextColor;
@footerBackgroundColor: @headerBackgroundColor;
@footerTextColor: @headerTextColor;
@sideNavHeaderTextColor: rgba(255, 255, 255, 0.87);
@sideNavHeaderBackgroundColor: gray; //#1976d2;//@headerTextColor;

@activeSelectedMenuItemColor: rgba(237, 38, 61, 0.87);
@cursorSelectableMenuItemColor: rgba(255, 157, 0, 0.87);

@buttonBorderWidth: 1px;
