nav {
    margin: auto;
    max-width: 1024px;
    width: auto;
    height: 50px;
    background: white;
    color: #4b4b4bde;
    font-weight: 900;
}

nav > ul {
    height: 50px;
    background: white;
}

nav > ul > li {
    height: 50px;
    float: left;
    list-style-type: none;
    display: table;
}

nav > ul > li > a {
    height: 46px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    color: #191970;
    border-bottom: solid 4px white;
    display: table-cell;
    vertical-align: middle;
    font-family: @fontFamily;
    font-size: 14px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}

nav > ul > li > a.active {
    height: 46px;
    border-bottom: solid 4px rgba(237, 38, 61, 0.87);
    color: #2f4f4f;
}

nav > ul > li > a:hover {
    border-bottom: solid 4px rgba(255, 157, 0, 0.87);
}
