
#sideNavigationHeaderPanel > ul {
    height: 50px;
    width: 100%;
    color: #ffffffde;
    font-size: 14px;
    font-weight: 800;
}

#sideNavigationHeaderPanel > ul > li {
    float: left;
    height: 50px;
    list-style-type: none;
    display: table;
}

#sideNavigationHeaderPanel > ul > li > button {
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: none;
    background: none;
    color: #fff;
    outline: none;
    border-radius: 50%;
}

#sideNavigationHeaderPanel > ul > li > button > i {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    /* stylelint-disable-next-line property-no-deprecated -- IE-compatible alias of overflow-wrap */
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    vertical-align: middle;
}

#sideNavigationHeaderPanel > ul > li > span {
    height: 50px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: table-cell;
    vertical-align: middle;
}
