.bodyContent.blanchedalmond
    .contentHeader.AliceBlue
        .floatLeft.Aquamarine Floating left A
        .floatLeft.Aquamarine Floating left B
        .floatRight.Aquamarine Floating right B
        .floatRight.Aquamarine Floating right A
        .floatClear

    .content
        .contentLeft.floatLeft
            .contentLeftUp.noWrap.autoScrollBars.Beige
                div Tested on: IE 9.0.8112.16421, 11.0.9600.17843; Opera: 28.0.1750.51; Chrome: 43.0.2357.134; Firefox: 39.0
                    - for (let i = 0; i < 50; i++)
                        div Left Up #{i} Longer Longer Longer Longer Longer Longer Longer Longer Longer

            .contentLeftBottom.noWrap.autoScrollBars.Bisque
                - for (let i = 0; i < 50; i++)
                    div Left Bottom #{i} Longer Longer Longer Longer Longer Longer Longer Longer Longer

        .contentRight.floatLeft
            .contentRightUp.noWrap.autoScrollBars.BurlyWood
                - for (let i = 0; i < 50; i++)
                    div Right Up #{i} Longer Longer Longer Longer Longer Longer Longer Longer Longer

            .contentRightBottom.noWrap.autoScrollBars.Cornsilk
                - for (let i = 0; i < 50; i++)
                    div Right Bottom #{i} Longer Longer Longer Longer Longer Longer Longer Longer Longer

        .floatClear

    .contentFooter.AliceBlue
        .floatLeft.Cyan Floating left A
        .floatLeft.Cyan Floating left B
        .floatRight.Cyan Floating right B
        .floatRight.Cyan Floating right A
        .floatClear
