.bodyContent.blanchedalmond
    .contentHeader.AliceBlue
        .floatLeft.Aquamarine Floating left A
        .floatLeft.Aquamarine Floating left B
        .floatRight.Aquamarine Floating right B
        .floatRight.Aquamarine Floating right A
        .floatClear

    .content
        .contentLeft.floatLeft
            .contentLeftUp.noWrap.autoScrollBars.Beige
                div Tested on: IE 9.0.8112.16421, 11.0.9600.17843; Opera: 28.0.1750.51; Chrome: 43.0.2357.134; Firefox: 39.0
                div Left Up 1 Longer Longer Longer Longer Longer Longer Longer Longer Longer
                div Left Up 2
                div Left Up 3
                div Left Up 4
                div Left Up 5
                div Left Up 6 Longer Longer Longer Longer Longer Longer Longer Longer Longer
                div Left Up 7
                div Left Up 8
                div Left Up 9
                div Left Up 10

            .contentLeftBottom.noWrap.autoScrollBars.Bisque
                div Left Bottom 1 Longer Longer Longer Longer Longer Longer Longer Longer Longer
                div Left Bottom 2
                div Left Bottom 3
                div Left Bottom 4
                div Left Bottom 5
                div Left Bottom 6 Longer Longer Longer Longer Longer Longer Longer Longer Longer
                div Left Bottom 7
                div Left Bottom 8
                div Left Bottom 9
                div Left Bottom 10

        .contentRight.floatLeft
            .contentRightUp.noWrap.autoScrollBars.BurlyWood
                div Right Up 1 Longer Longer Longer Longer Longer Longer Longer Longer Longer
                div Right Up 2
                div Right Up 3
                div Right Up 4
                div Right Up 5
                div Right Up 6 Longer Longer Longer Longer Longer Longer Longer Longer Longer
                div Right Up 7
                div Right Up 8
                div Right Up 9
                div Right Up 10

            .contentRightBottom.noWrap.autoScrollBars.Cornsilk
                div Right Bottom 1 Longer Longer Longer Longer Longer Longer Longer Longer Longer
                div Right Bottom 2
                div Right Bottom 3
                div Right Bottom 4
                div Right Bottom 5
                div Right Bottom 6 Longer Longer Longer Longer Longer Longer Longer Longer Longer
                div Right Bottom 7
                div Right Bottom 8
                div Right Bottom 9
                div Right Bottom 10

        .floatClear

    .contentFooter.AliceBlue
        .floatLeft.Cyan Floating left A
        .floatLeft.Cyan Floating left B
        .floatRight.Cyan Floating right B
        .floatRight.Cyan Floating right A
        .floatClear
