.AliceBlue {
    background: @blue-300;
}

.MoreBlue {
    background: @blue-600;
}

.blanchedalmond {
    background: blanchedalmond;
}

.Aquamarine {
    background: aquamarine;
}

.Beige {
    background: beige;
}

.Bisque {
    background: bisque;
}

.BurlyWood {
    background: burlywood;
}

.Cornsilk {
    background: cornsilk;
}

.Cyan {
    background: cyan;
}
